.upcoming-event-card {
    background-color: rgb(157, 169, 181, 1);
}

.past-event-card {
    background-color: rgb(222, 226, 230, 1);
}

.align-headings {
    text-align: center;
}

#signup-button {
    font-size: 1.17em
}

.modal-text {
    color: black;
}