{% extends "base.html" %}

{% block content %}

<p>{{ event.title }}</p>
<p>{{ total_participants }} / {{ event.max_participants }} ({{ remaining_spaces }} spot{{ remaining_spaces|pluralize }}
    remaining!)</p>
{% if total_participants < event.max_participants %}
<a href="{% url 'event_registration' event.id %}" class="btn">Register</a>

{% else %}
<p>This event has filled up.</p>
{% endif %}

<h2>Current Participants</h2>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Ball</th>
            <th>Bibs</th>
        </tr>
    </thead>
    <tbody>
        {% for person in registrations %}
        <tr>
            <td>{{ person.name }}</td>
            {% if person.ball %}
            <td><i class="fa-solid fa-futbol"></i></td>
            {% endif %}
            {% if person.bibs %}
            <td><i class="fa-solid fa-shirt"></i></td>
            {% endif %}
        </tr>
        {% if person.guest %}
        <td>{{ person.name }}'s guest</td>
        {% endif %}
        {% endfor %}
    </tbody>
</table>


<!-- <ul>
    {% for person in registrations %}
    <li>
        {{ person.name }}
        {% if person.guest %}
        +1
        {% endif %}
    </li>
    {% endfor %}
</ul> -->

{% endblock %}