{% extends "base.html" %}

{% block content %}
<!--This is where all of the information about the event is contained.-->
<h1 class="align-headings">{{ event.title }}</h1>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>Date and Time</h3>
            <p>{{ event.event_date_and_time }}</p>
        </div>
        <div class="col-sm">
            <h3>Venue</h3>
            <p>{{ event.venue }}</p>
        </div>
        <div class="col-sm">
            <h3>Total Participants</h3>
            <p>{{ total_participants }} / {{ event.max_participants }} ({{ remaining_spaces }}
                spot{{ remaining_spaces|pluralize }}
                remaining!)</p>
        </div>
    </div>
</div>
<!--If the creator of the event has added extra info, then it will be displayed here.-->
{% if event.extra_info %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>Extra information</h3>
            <p>{{ event.extra_info }}</p>
        </div>
    </div>
</div>
{% else %}
{% endif %}
<!--Checks to see if there are any spaces left.-->
{% if total_participants < event.max_participants %}
<div class="d-flex justify-content-center">
    <a href="{% url 'event_registration' event.id %}" class="btn btn-success" id="signup-button">Register</a>
</div>
{% else %}
<p>This event has filled up.</p>
{% endif %}
<!--A table that shows all of the current participants, and 
allows an already-registered user to unregister. If a 
participant is bringing a guest, then they will get their own
row, and if they have ticked the box for bringing bibs and a ball,
then an icon will be displayed in the corresponding column.-->
<h2 class="align-headings">Current Participants</h2>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Unregsiter</th>
            <th>Ball</th>
            <th>Bibs</th>
        </tr>
    </thead>
    <tbody>
        {% for person in registrations %}
        <tr>
            <td>{{ person.name }}</td>
            <td>
                {% if person.name|lower == request.user|lower %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-{{ person.id }}">
                    Unregister
                  </button>
                <div class="modal" id="modal-{{ person.id }}" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-text">Confirm Unregister</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p class="modal-text">Are you sure you no longer want to participate in {{ event.title }} on {{ event.event_date_and_time }}?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <a href="{% url 'event_unregister' event.id person.id %}" class="btn btn-success">Unregister</a>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
            </td>
            <td>
                {% if person.ball %}
                <i class="fas fa-futbol"></i>
                {% endif %}
            </td>
            <td>
                {% if person.bibs %}
                <i class="fas fa-tshirt"></i>
                {% endif %}
            </td>
        </tr>
        {% if person.guest %}
        <tr>
            <td>
                {{ person.name }}'s guest
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}