{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<h2>Hello, {{ user }}!</h2>
{% endif %}



<div class="container">
  <h2>Upcoming Events</h2>
  <div class="row">
    {% for event in data.upcoming %}
    <div class="col-4">
      <div class="card event-card">
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <p class="card-text">{{ event.event_date_and_time }}</p>
          <p class="card-text">{{ event.venue }}</p>
          <p class="card-text">Max. participants: {{ event.max_participants }}</p>
          {% if alreadyregistered %}
          <p>You have signed up!</p>
          {% endif %}
          <a href="{% url 'event_detail' event.id %}" class="post-link">Sign up</a>
        </div>
      </div>
    </div>

    {% endfor %}
    <div class="container">
      <h2>Past Events</h2>
      <div class="row">
        {% for event in data.past %}
        <div class="col-4">
          <div class="card event-card">
            <div class="card-body">
              <h5 class="card-title">{{ event.title }}</h5>
              <p class="card-text">{{ event.event_date_and_time }}</p>
              <p class="card-text">{{ event.venue }}</p>
              <p class="card-text">Max. participants: {{ event.max_participants }}</p>
              <a href="{% url 'event_detail' event.id %}" class="post-link">Sign up</a>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>


    {%endblock%}